.cow {
  padding-top: 125px;
  padding-bottom: 97px;
  background: $bg-lite-pink-color;
}

.top-title {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  margin-top: 125px;
  margin-bottom: 15px;
  color: $pink-lite-color;
}

.middle-title {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $pink-color;
  margin-top: 0;
  margin-bottom: 26px;
}

.top-text {
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $black-font-color;
  margin-top: 46px;
  margin-bottom: 47px;
}

.middle-text {
  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $grey-font-color;
  margin-top: 0;
  margin-bottom: 47px;
}

.read {
  width: 176px;
  height: 44px;
  padding-left: 37px;
  padding-right: 56px;

  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 39px;

  background: $white-font-color;
  color: $pink-color;
  border-radius: 22px;
  border: none;
}

.number-one {
  width: 98px;
  height: 56px;
  margin-top: 20px;
  margin-bottom: 0;

  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $hover-color;
}

.bottom-textone {
  width: 230px;
  height: 36px;
  margin-bottom: 38px;

  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;

  color: $black-font-color;
}

.number-two {
  width: 98px;
  height: 56px;
  margin-top: 20px;
  margin-bottom: 0;

  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $pink-color;
}

.bottom-texttwo {
  width: 230px;
  height: 36px;
  margin-bottom: 38px;

  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;

  color: $black-font-color;
}

.number-three {
  width: 98px;
  height: 56px;
  margin-top: 20px;
  margin-bottom: 0;

  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $pink-color;
}

.bottom-textthree {
  width: 230px;
  height: 36px;
  margin-bottom: 67px;

  font-family: $text-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;

  color: $black-font-color;
}

.dl {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
}

.pic {
  margin-left: 14px;
}
