.cow {
  padding-top: 125px;
  padding-bottom: 97px;
  background: $bg-lite-pink-color;
}

.cow__upper-title {
  display: block;
  margin-bottom: 15px;

  text-align: center;

  font-family: $title-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $pink-lite-color;
}

.cow__title {
  display: block;
  margin-top: 0;
  margin-bottom: 26px;

  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $pink-color;
}

.cow__pic {
  margin-bottom: 46px;
}

.cow-description--size {
  padding: 0 30px;
  margin-bottom: 39px;
}

.cow-description__upper-text {
  margin: 0;
  margin-bottom: 47px;

  font-family: $text-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: $black-font-color;
}

.cow-description__bottom-text {
  margin: 0;
  margin-bottom: 47px;

  font-family: $text-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: $grey-font-color;
}

.cow-description__btn {
  padding: 13px 37px;

  font-family: $text-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;

  background: $white-font-color;
  color: $pink-color;
  border-radius: 22px;
  border: none;
}

.cow-description__btn-svg {
  margin-left: 15px;
}

.cow-numbers--size {
  padding-right: 50px;

  &:not(:last-child) {
    margin-bottom: 38px;
  }
}

.cow-numbers__img {
  margin-bottom: 16px;
}

.cow-numbers__number {
  display: block;
  margin-bottom: 25px;

  font-family: $title-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $hover-color;
}

.cow-numbers__text {
  margin: 0;

  font-family: $text-font;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: $black-font-color;
}
