*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.btn-1{
    width: 126px;
    height: 44px;
    fill: $hover-color;
}
.btn-2{
    width: 97px;
    height: 44px;
    fill: $hover-color;
}
.locations{
    margin-bottom: 10px;
    &:hover .btn-1{
        fill: #FFFFFF;
    }
    &:focus .btn-1{
        fill: #FFFFFF;
    }
    @media screen and(min-width:768px) {
        margin-bottom: 0;
        margin-right: 15px;
        width: 191px;
    }
    @media screen and(min-width:1280px) {
        width: 198px;
    }
}
.franchise{
    @media screen and(min-width:768px) {
        width: 174px;
    }
    @media screen and(min-width:1280px) {
        width: 180px;
    }
}
.franchise:hover .btn-2{
    fill: #FFFFFF;
}
.franchise:focus .btn-2{
    fill: #FFFFFF;
}


.locations,
.franchise{
    border: none;
    outline: none;
    // width: 161.45px;
    @media screen and(max-width:767px) {
        width: 161.5px;
    }
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 22px;
    &:hover{
        background-color: $hover-color;
        cursor: pointer;
    }
    &:focus{
        background-color: $hover-color;
        cursor: pointer;
    }
}
.inform-buttons{
    @media screen and(min-width:768px) {
       display: flex;
       flex-direction: row;
       padding-bottom: 113px;
    }
    @media screen and(min-width:1280px){
        padding-top: 86px;
    }
    padding-top: 54px;
    padding-bottom: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.date{
    font-family:$text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #000000;
    @media screen and(min-width:768px) {
        // margin-top: 60px;
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and(min-width:1280px) {
        // margin-top: 60px;
        font-size: 16px;
        line-height: 186%;
    }
}
.contacts{
    margin-top: 40px;
    @media screen and(min-width:768px) {
        margin-top: 60px;
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and(min-width:1280px){
        margin-top: 64px;
        font-size: 16px;
    }
}
.phone,
.email{
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #907E82;
}
.fact-date{
    // margin-top: 25px;
    margin-bottom: 10px;
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    color: #FFA5BA;
    @media screen and(min-width:768px) {
        margin-bottom: 16px;
    }
    @media screen and(min-width:1280px){
        margin-bottom: 15px;
        font-size: 16px;
    }
}
.text{
    margin-bottom: 50px;
    @media screen and(min-width:768px) {
        margin-bottom: 60px;
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and(min-width:1280px){
        margin-bottom: 64px;
        font-size: 16px;
    }
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #907E82;
}

.type-of{
    margin-bottom: 25px;
    width: 80px;
    height: 16px;
    background-color: #F0D1A5;
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    @media screen and(min-width:768px) {
        width: 73px;
        height: 28px;
        margin-bottom: 30px;
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and(min-width:1280px){
        margin-bottom: 32px;
        font-size: 16px;
    }
}
.region{
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 186%;
    letter-spacing: 0.04em;
    color: #000000;
    margin-bottom: 10px;
    @media screen and(min-width:768px) {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 186%;
    }
    @media screen and(min-width:1280px){
        margin-bottom: 10px;
        font-size: 16px;
    }
}
.green{
    width: 130px;
    background-color: #C2E297;
    @media screen and(min-width:768px){
        width: 138px;
        height: 28px;
    }
}
.information{
    position: relative;
    padding-left: 20px;
    padding-right: 21px;
    // text-align: center;
    width: 220px;
    padding-top: 43px;
    padding-bottom: 43px;
    @media screen and(min-width:768px) {
        padding-top: 50px;
        padding-bottom: 50px;
        // height: 540px;
    }
    @media screen and(min-width:1280px) {
        padding-left: 40px;
        padding-right: 40px;
        width: 330px;
        padding-top: 52px;
        padding-bottom: 61px;
    }
    background-color: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    &::before{
        content: '';
        position: absolute;
        border-bottom: 1px solid #E1E1E1;
        top: 177px;
        @media screen and(min-width:768px) {
            top: 253px;
        }
        @media screen and(min-width:1280px){
            top: 242px;
            width: 234px;
        }
        width: 179px;
        height: 0px;
    }
    &::after{
        content: '';
        position: absolute;
        border-bottom: 1px solid #E1E1E1;
        top: 322px;
        @media screen and(min-width:768px) {
            top: 426px;
        }
        @media screen and(min-width:1280px){
            top: 438px;
            width: 234px;
        }
        width: 179px;
        height: 0px;
    }
    &:nth-child(-n+2){
        margin-bottom: 20px;
        @media screen and(min-width:768px) {
            margin-bottom: 0;
        }
    }
}
.footer-links{
    display: flex;
    justify-content: center;
    // align-items: center;
    .link{
        width: 32px;
        height: 32px;
        @media screen and(min-width:768) {
            width: 34px;
            height: 34px;
        }
        border-radius: 50%;
        // padding-top: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FEA5BB;
        // fill: tomato;
        // transition: $main-transition;
        &:hover,
        &:focus{
            background-color: $hover-color;
        }
        &:nth-child(-n+2){
            margin-right: 28px;
        }
        @media screen and(min-width:768) {
            &:nth-child(-n+2){
                margin-right: 30px;
            }
        }
        &:hover .footer-link{
            fill: tomato;
        }
        &:focus .footer-link{
            fill: tomato;
        }
        .footer-link{
            fill: #FEA5BB;
            width: 18px;
            height: 18px;
        }
    }
    .back{
        background-color: #FEA5BB;
    }
}
.schedule{
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    } // position: relative;
}
    // margin-bottom: -20px;
    // margin-right: auto;
    // margin-left: auto;
.social-container{
    width: 100%;
    @media screen and(min-width:768px) {
        display: flex;
        flex-direction: column;
        // height: 106px;
        // align-items: flex-start;

        // align-items: flex-start;
    }
}
.inform-container{
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and(min-width:768px) {
        width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
    @media screen and(min-width:1280px) {
        width: 1280px;
        padding-left: 115px;
        padding-right: 115px;
        background-image: url('../images/sectionbg2.png');
        background-position: 50% 20%;
        background-repeat: no-repeat;
        @media screen and(min-resolution: 2dppx) {
            background-image: url('../images/sectionbg2@2x.png');
        }
    }
}
.story-container{
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and(min-width:768px){
        width: 768px;
        padding-left: 74px;
        padding-right: 74px;
    }
    @media screen and(min-width:1280px){
        width: 1280px;
        padding-left: 178px;
        padding-right: 178px;
    }
}
.fl-container{
    width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and(min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 768px;
        padding-left: 36px;
        padding-right: 36px;
    }
    @media screen and(min-width:1280px) {
        width: 1280px;
        padding-right: 116px;
        padding-left: 114px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main-picture{
    display: flex;
    justify-content: center;
}
.inform-section{
    position: relative;
}
.inform-section::before{
    position: absolute;
    content: '';
    height: 84px;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
}
.mnogo-texta{
    position: relative;
    width: 157px;
    height: 239px;
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 255%;
    text-align: center;
    color: #000000;
    margin-top: 43px;
    z-index: 5;
    @media screen and(min-width:768px){
        font-size: 14px;
        text-align: center;
        width: 460px;
        height: 83px;
    }
    @media screen and(min-width:1280px){
        width: 750px;
        height: 52px;
        font-size: 16px;
    }
    // display: flex;
    // justify-content: space-between;
}
.kovichki{
    position: absolute;
    // position: relative;
    width: 54px;
    height: 40px;
    top: 28px;
    left: 61px;
    // fill: #000000;
    z-index: 1;
    @media screen and(min-width:768px){
        top: 30px;
        // top: 49px;
        left: 60px;
    }
    @media screen and(min-width:1280px){
        top: 32px;
        // top: 47px;
        left: 70px;
    }
}
.text-form{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 29px;
    text-align: center;
    margin-bottom: 30px;
    border-spacing: 10px;
    background-color: #FAFAFA;
    background-image: url('../images/Group36.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    @media screen and(min-width:768px){
        width: 620px;
        height: 164px;
        margin-top: 19px;
        margin-bottom: 24px;
        padding-left: 80px;
        padding-right: 80px;
        background-image: url('../images/Group27.png');
        background-position: 50% 60%;
    }
    @media screen and(min-width:1280px){
        width: 926px;
        height: 138px;
        margin-top: 15px;
        margin-bottom: 34px;
        padding-left: 87px;
        padding-right: 89px;
        background-image: url('../images/Group26.png');
        background-position: 50% 65%;
    }
}
.three-dots{
    width: 32px;
    height: 4px;
    fill: #C7133E;
}
.emily{
    font-family: $text-font;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 186%;
    text-align: center;
    color: #000000;
    margin-top: 18px;
    margin-bottom: 30px;
    @media screen and(min-width:768px){
        font-size: 16px;
        line-height: 30px;
        margin-top: 14px;
    }
    @media screen and(min-width:1280px){
        font-size: 20px;
        line-height: 37px;
        margin-top: 15px;
    }
}
.happy-girl{
    margin-top: 80px;
    @media screen and(min-width:768px){
        margin-top: 121px;
    }
    @media screen and(min-width:1280px){
        margin-top: 123px;
    }
}
.house-dots{
    width: 73px;
    height: 12px;
}
.story-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    // padding-top: 80px;
    padding-bottom: 86px;
    // @media screen and(min-width:768px){
    //     padding-top: 121px;
    // }
}
.inform-section,
.footer-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF5F6;
}
.footer-section{
    padding-bottom: 43px;
    @media screen and(min-width:768px) {
        padding-bottom: 91px;
    }
}
.footer-text{
    font-family: $text-font;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: #907E82;
    width: 150px;
    @media screen and(min-width:768px) {
        width: 276px;
        line-height: 186%;
        height: 26px;
    }
    height: 42px;
}
.footer-end{
    padding-top: 22px;
    @media screen and(min-width:768px) {
        padding-top: 29px;
        height: 73px;
    }
    @media screen and(min-width:1280px) {
        padding-top: 9px;
        height: 45px;
    }
    display: flex;
    justify-content: center;
    height: 89px;
    background-color: #FFF5F6;
    border-top: 1px solid #E1E1E1 ;
}
.title-h1{
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFA5BA;
    text-align: left;
    width: 232px;
    @media screen and(min-width:768px) {
        width: 340px;
        margin-top: 7px;
        font-size: 26px;
        line-height: 30px;
    }
    @media screen and(min-width:1280px) {
        width: 472px;
        font-size: 30px;
        line-height: 34px;
    }
}
.title-h2{
    width: 200px;
    text-align: left;
    font-family: $title-font;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $hover-color;
    @media screen and(min-width:768px){
        width: 340px;
        font-size: 48px;
        line-height: 55px;
    }
    @media screen and(min-width:1280px) {
        width: 474px;
        font-size: 58px;
        line-height: 66px;
    }
}
.free-mobile{
    width: 100%;
    text-align: right;
    // padding-bottom: 43px;
    text-align: right;
    font-family: $text-font;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 186%;
    text-align: right;
    color: #000000;
    @media screen and(min-width:768px) {
        font-size: 14px;
    }
}
.tel-span{
    color:$hover-color ;
    margin-left: 4px;
}
.social-contacts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    padding-top: 43px;
    padding-bottom: 46px;
    @media screen and(min-width:768px) {
        padding-top: 0;
    }
    @media screen and(min-width:768px) {
        padding-bottom: 50px;
    }
}