$text-font: DM Sans, sans-serif;
$title-font: Titan One, sans-serif;

$white-font-color: #ffffff;
$black-font-color: #000000;
$grey-font-color: #907e82;

$pink-color: #d41443;
$pink-lite-color: #ffa5ba;

$bg-pink-color: #ffb8ca;
$bg-lite-pink-color: #fff5f6;

$hover-color: #d41443;
