<section class="main-picture" id="our-products">
  <img
    srcset="./images/section-pic@1x.png 1x, ./images/section-pic@2x.png 2x"
    src="./images/section-pic@1x.png"
    alt=""
  />
</section>
<section class="story-section">
  <div class="story-container">
    <!-- <img src="./images/section-pic@1x.png" alt=""> -->
    <img class="happy-girl" src="./images/testimonials_1.png" alt="" />
    <div class="text-form">
      <svg class="kovichki">
        <use href="./images/symbol-defs.svg#untitled"></use>
      </svg>
      <p class="mnogo-texta">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
    </div>
    <svg class="three-dots">
      <use href="./images/symbol-defs.svg#Group-8"></use>
    </svg>
    <p class="emily">Emily, Los Angeles</p>
    <svg class="house-dots">
      <use href="./images/symbol-defs.svg#hr-dots"></use>
    </svg>
  </div>
</section>

<section class="inform-section" id="contacts-footer">
  <div class="inform-container">
    <ul class="schedule">
      <li class="information">
        <h2 class="type-of">Cafe</h2>
        <h3 class="region">Chicago</h3>
        <p class="text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="date">Monday - Friday</p>
        <p class="fact-date">06:00 AM - 10:00 PM</p>
        <p class="date">Saturday - Sunday</p>
        <p class="fact-date">08:00 AM - 16:00 PM</p>
        <address class="contacts">
          <a class="phone" href="tel:+610383766284">+61(0)383766284</a>
          <a class="email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="information">
        <h2 class="type-of green1">FoodTruck</h2>
        <h3 class="region">Los Angeles</h3>
        <p class="text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="date">Monday - Friday</p>
        <p class="fact-date">06:00 AM - 10:00 PM</p>
        <p class="date">Saturday - Sunday</p>
        <p class="fact-date">08:00 AM - 16:00 PM</p>
        <address class="contacts">
          <a class="phone" href="tel:+610383766284">+61(0) 383 766 284</a>
          <a class="email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="information">
        <h2 class="type-of">Cafe</h2>
        <h3 class="region">New York</h3>
        <p class="text">
          Fusce ut velit laoreet, tempus arcu molestie vulputate
        </p>
        <p class="date">Monday - Friday</p>
        <p class="fact-date">06:00 AM - 10:00 PM</p>
        <p class="date">Saturday - Sunday</p>
        <p class="fact-date">08:00 AM - 16:00 PM</p>
        <address class="contacts">
          <a class="phone" href="tel:+610383766284">+61(0)383766284</a>
          <a class="email" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
    <div class="inform-buttons">
      <button class="locations">
        <svg class="btn-1">
          <use href="./images/symbol-defs.svg#locate"></use>
        </svg>
      </button>
      <button class="franchise">
        <svg class="btn-2">
          <use href="./images/symbol-defs.svg#franch"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<footer>
  <section class="footer-section">
    <div class="fl-container">
      <div class="footer-title">
        <h1 class="title-h1">homemade ice cream made</h1>
        <h2 class="title-h2">with passion</h2>
      </div>
      <div class="social-container">
        <div class="social-contacts">
          <div class="footer-links">
            <a href="#" class="link back">
              <svg class="footer-link">
                <use
                  class="hover"
                  href="./images/symbol-defs.svg#facebook"
                ></use>
              </svg>
            </a>
            <a href="#" class="link back">
              <svg class="footer-link">
                <use class="hover" href="./images/symbol-defs.svg#git"></use>
              </svg>
            </a>
            <a href="#" class="link back">
              <svg class="footer-link">
                <use
                  class="hover"
                  href="./images/symbol-defs.svg#telegram"
                ></use>
              </svg>
            </a>
          </div>
        </div>
        <p class="free-mobile">
          Feel free to contact<span class="tel-span">+61 (0) 383 766 284</span>
        </p>
      </div>
    </div>
  </section>
  <div class="footer-end">
    <p class="footer-text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
