<header class="header">
  <div class="container container--size">
    <div class="menu-wrapper">
      <a href="#"> <img src="./images/logo.png" alt="Логотип" /> </a>

      <div class="menu">
        <button class="menu-openMob" type="button" data-modal-open>
          <svg class="menu__svg" width="20" height="12">
            <use href="./images/symbol-defs.svg#Burger"></use>
          </svg>
        </button>
      </div>

      <div class="menu-wrapper__div">
        <button class="menu-wrapper__button">Buy now</button>
      </div>
    </div>

    <div class="menu-container is-hidden" data-modal>
      <button class="menu-mobClose" type="button is-hidden" data-modal-close>
        <svg class="menu__svg-close" width="14" height="14">
          <use href="./images/close.svg#icon-close"></use>
        </svg>
      </button>

      <button class="button-open">Buy now</button>

      <ul class="menu-list">
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Home</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">About us</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">How it’s made?</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Our products</a>
        </li>
        <li class="menu-list__item">
          <a class="menu-list__link" href="#">Contact</a>
        </li>
      </ul>
    </div>

    <span class="header__upper-title">
      ice cream <br />
      made with</span
    >

    <div class="center-text">
      <h1 class="header__title">passion</h1>

      <div class="btn-block">
        <button type="button" class="btn btn-products">Products</button>
        <button type="button" class="btn btn-instruction">
          How it’s made?
        </button>
      </div>
    </div>

    <!-- Морожка -->
    <picture>
      <!-- Для ПК -->
      <source
        srcset="
          ./images/header-ice-pc@1x.png 1x,
          ./images/header-ice-pc@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />

      <!-- Для планшета -->
      <source
        srcset="
          ./images/header-ice-tablet@1x.png 1x,
          ./images/header-ice-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <!-- Для телефона -->
      <source
        srcset="
          ./images/header-ice-mobile@1x.png 1x,
          ./images/header-ice-mobile@2x.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />

      <img
        class="icecream-pic"
        src="./images/header-ice-mobile@1x.png"
        alt="Мороженное"
        aria-label="Мороженное"
      />
    </picture>

    <!-- Girl -->
    <picture>
      <!-- Для ПК -->
      <source
        srcset="
          ./images/header-girl-pc@1x.png 1x,
          ./images/header-girl-pc@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />

      <!-- Для планшета -->
      <source
        srcset="
          ./images/header-girl-tablet@1x.png 1x,
          ./images/header-girl-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <img
        class="girl-pic"
        src="./images/header-girl-tablet@1x.png"
        alt="Девушка кушает мороженое"
        aria-label="Девушка кушает мороженое"
      />
    </picture>

    <!-- Кувшин -->
    <picture>
      <!-- Для ПК -->
      <source
        srcset="
          ./images/header-jug-pc@1x.png 1x,
          ./images/header-jug-pc@2x.png 2x
        "
        media="(min-width: 1280px)"
        type="image/png"
      />

      <!-- Для планшета -->
      <source
        srcset="
          ./images/header-jug-tablet@1x.png 1x,
          ./images/header-jug-tablet@2x.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />

      <img
        class="jug-pic"
        src="./images/header-jug-tablet@1x.png"
        alt="Кувшин"
        aria-label="Кувшин"
      />
    </picture>

    <!-- Текст возле кувшина -->
    <div class="jug-description">
      <p class="jug-description__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
    </div>

    <!-- Кол-во кафе -->
    <div class="header-quantity">
      <div class="cafe-number">
        <span class="count">16</span>
        <span class="description">cafes</span>
      </div>
      <!-- Кол-во траков -->
      <div class="truck-number">
        <span class="count">23</span>
        <span class="description">food trucks</span>
      </div>
    </div>
  </div>
</header>
